## Introduction to Pandas: Series and DataFrames

In [2]:
import pandas as pd

# Create a Pandas Series from a list
data = [10, 20, 30, 40]
series = pd.Series(data)

# Display the Series
series

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# Create a Pandas Series with a custom index
series = pd.Series(data, index=['a', 'b', 'c', 'd'])
series

a    10
b    20
c    30
d    40
dtype: int64

In [19]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [20]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      str
 1   Age     3 non-null      int64
 2   City    3 non-null      str
dtypes: int64(1), str(2)
memory usage: 204.0 bytes

In [7]:
df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [23]:
df.dtypes

Name        str
Age     float32
City        str
dtype: object

In [22]:
# Convert the 'Age' column in the DataFrame to 'float32' type for memory optimization
df['Age'] = df['Age'].astype('float32')

In [24]:
df.dtypes

Name        str
Age     float32
City        str
dtype: object