## Importing Data: Working with CSV Files

In [1]:
import pandas as pd

# Load the CSV file 'model_logs.csv' into a DataFrame
df = pd.read_csv('model_logs.csv')

In [4]:
df.head()

,Date,Prompt,Response Time (ms),Tokens Generated
0,2023-01-01,Generate a creative story about space travel,62,287
1,2023-01-02,Write a sci-fi short story set in 2050,45,361
2,2023-01-03,Write a poem about the future of technology,33,221
3,2023-01-04,Explain quantum computing in simple terms,53,290
4,2023-01-05,Explain quantum computing in simple terms,75,392

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                100 non-null    object
 1   Prompt              100 non-null    object
 2   Response Time (ms)  100 non-null    int64
 3   Tokens Generated    100 non-null    int64
dtypes: int64(2), object(2)
memory usage: 3.3+ KB

In [5]:
df.describe()

       Response Time (ms)  Tokens Generated
count          100.000000        100.000000
mean            66.650000        342.930000
std             21.114108         90.095264
min             30.000000        203.000000
25%             47.500000        274.750000
50%             70.000000        324.500000
75%             86.000000        427.000000
max             99.000000        500.000000

In [6]:
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df.dtypes

Date                  datetime64[ns]
Prompt                        object
Response Time (ms)             int64
Tokens Generated               int64
dtype: object

In [8]:
df = pd.read_csv('model_logs.csv', parse_dates=['Date'])

In [9]:
df.dtypes

Date                  datetime64[ns]
Prompt                        object
Response Time (ms)             int64
Tokens Generated               int64
dtype: object

In [10]:
mask = df['Response Time (ms)'] > 50
slow_responses = df[mask]
slow_responses

,Date,Prompt,Response Time (ms),Tokens Generated
0,2023-01-01,Generate a creative story about space travel,62,287
3,2023-01-04,Explain quantum computing in simple terms,53,290
4,2023-01-05,Explain quantum computing in simple terms,75,392
5,2023-01-06,Generate marketing copy for a new tech product,61,250
6,2023-01-07,Write a sci-fi short story set in 2050,87,370
...,...,...,...,...
93,2023-04-04,Explain quantum computing in simple terms,97,325
95,2023-04-06,Explain quantum computing in simple terms,61,304
96,2023-04-07,Write a sci-fi short story set in 2050,57,238
98,2023-04-09,Generate marketing copy for a new tech product,77,296
99,2023-04-10,Create a recipe using plant-based ingredients,55,306

In [11]:
slow_responses.to_csv('slow_responses.csv', index=False)
print("Filtered data saved to 'slow_responses.csv'!")

Filtered data saved to 'slow_responses.csv'!

##  Exporting Data to Different Formats: Excel, JSON, SQL, YAML

In [12]:
import pandas as pd
df = pd.read_csv('model_logs.csv')
df

,Date,Prompt,Response Time (ms),Tokens Generated
0,2023-01-01,Generate a creative story about space travel,62,287
1,2023-01-02,Write a sci-fi short story set in 2050,45,361
2,2023-01-03,Write a poem about the future of technology,33,221
3,2023-01-04,Explain quantum computing in simple terms,53,290
4,2023-01-05,Explain quantum computing in simple terms,75,392
...,...,...,...,...
95,2023-04-06,Explain quantum computing in simple terms,61,304
96,2023-04-07,Write a sci-fi short story set in 2050,57,238
97,2023-04-08,Write a poem about the future of technology,38,465
98,2023-04-09,Generate marketing copy for a new tech product,77,296
99,2023-04-10,Create a recipe using plant-based ingredients,55,306

### Exporting to Excel

In [ ]:
pip install openpyxl -q

In [25]:
# Export the DataFrame 'df' to an Excel file 'data.xlsx' without including the index
df.to_excel('data.xlsx', index=False)

print("Data exported to 'data.xlsx'")

Data exported to 'data.xlsx'

###  Exporting to JSON

In [23]:
# Convert the DataFrame 'df' to a JSON file 'data.json' with columns as keys
df.to_json('data.json', orient='columns')

In [24]:
# Convert the DataFrame 'df' to a JSON Lines file 'chat_data.jsonl' with records as separate lines
df.to_json('chat_data.jsonl', orient='records', lines=True)

##  Exporting to SQL

In [22]:
import sqlite3
# Connect to the SQLite database 'chat_data.db'
conn = sqlite3.connect('chat_data.db')

# Write the DataFrame 'df' to the 'chat_data.db' table, replacing the table if it exists
df.to_sql('chat_data.db', conn, if_exists='replace', index=False)

# Close the database connection
conn.close()

## Exporting to YAML

In [21]:
import yaml
# Convert the DataFrame to a list of dictionaries, one per row
data_dict = df.to_dict(orient='records')

In [19]:
data_dict

[{'Date': '2023-01-01',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 62,
  'Tokens Generated': 287},
 {'Date': '2023-01-02',
  'Prompt': 'Write a sci-fi short story set in 2050',
  'Response Time (ms)': 45,
  'Tokens Generated': 361},
 {'Date': '2023-01-03',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 33,
  'Tokens Generated': 221},
 {'Date': '2023-01-04',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 53,
  'Tokens Generated': 290},
 {'Date': '2023-01-05',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 75,
  'Tokens Generated': 392},
 {'Date': '2023-01-06',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 61,
  'Tokens Generated': 250},
 {'Date': '2023-01-07',
  'Prompt': 'Write a sci-fi short story set in 2050',
  'Response Time (ms)': 87,
  'Tokens Generated': 370},
 {'Date': '2023-01-08',
  'Prompt': 'Describe the impact of AI on healthcare',
  'Response Time (ms)': 36,
  'Tokens Generated': 373},
 {'Date': '2023-01-09',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 96,
  'Tokens Generated': 427},
 {'Date': '2023-01-10',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 37,
  'Tokens Generated': 457},
 {'Date': '2023-01-11',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 98,
  'Tokens Generated': 230},
 {'Date': '2023-01-12',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 76,
  'Tokens Generated': 317},
 {'Date': '2023-01-13',
  'Prompt': 'Write a sci-fi short story set in 2050',
  'Response Time (ms)': 61,
  'Tokens Generated': 307},
 {'Date': '2023-01-14',
  'Prompt': 'Create a recipe using plant-based ingredients',
  'Response Time (ms)': 98,
  'Tokens Generated': 257},
 {'Date': '2023-01-15',
  'Prompt': 'Write a sci-fi short story set in 2050',
  'Response Time (ms)': 52,
  'Tokens Generated': 204},
 {'Date': '2023-01-16',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 81,
  'Tokens Generated': 486},
 {'Date': '2023-01-17',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 91,
  'Tokens Generated': 225},
 {'Date': '2023-01-18',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 61,
  'Tokens Generated': 484},
 {'Date': '2023-01-19',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 78,
  'Tokens Generated': 242},
 {'Date': '2023-01-20',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 80,
  'Tokens Generated': 458},
 {'Date': '2023-01-21',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 36,
  'Tokens Generated': 390},
 {'Date': '2023-01-22',
  'Prompt': 'Create a recipe using plant-based ingredients',
  'Response Time (ms)': 69,
  'Tokens Generated': 373},
 {'Date': '2023-01-23',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 94,
  'Tokens Generated': 210},
 {'Date': '2023-01-24',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 53,
  'Tokens Generated': 301},
 {'Date': '2023-01-25',
  'Prompt': 'Describe the impact of AI on healthcare',
  'Response Time (ms)': 97,
  'Tokens Generated': 271},
 {'Date': '2023-01-26',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 31,
  'Tokens Generated': 349},
 {'Date': '2023-01-27',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 67,
  'Tokens Generated': 314},
 {'Date': '2023-01-28',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 37,
  'Tokens Generated': 346},
 {'Date': '2023-01-29',
  'Prompt': 'Create a recipe using plant-based ingredients',
  'Response Time (ms)': 97,
  'Tokens Generated': 257},
 {'Date': '2023-01-30',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 64,
  'Tokens Generated': 455},
 {'Date': '2023-01-31',
  'Prompt': 'Describe the impact of AI on healthcare',
  'Response Time (ms)': 40,
  'Tokens Generated': 472},
 {'Date': '2023-02-01',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 42,
  'Tokens Generated': 265},
 {'Date': '2023-02-02',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 30,
  'Tokens Generated': 480},
 {'Date': '2023-02-03',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 97,
  'Tokens Generated': 283},
 {'Date': '2023-02-04',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 42,
  'Tokens Generated': 231},
 {'Date': '2023-02-05',
  'Prompt': 'Summarize the latest research on climate change',
  'Response Time (ms)': 64,
  'Tokens Generated': 205},
 {'Date': '2023-02-06',
  'Prompt': 'Summarize the latest research on climate change',
  'Response Time (ms)': 94,
  'Tokens Generated': 324},
 {'Date': '2023-02-07',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 70,
  'Tokens Generated': 306},
 {'Date': '2023-02-08',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 31,
  'Tokens Generated': 339},
 {'Date': '2023-02-09',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 33,
  'Tokens Generated': 286},
 {'Date': '2023-02-10',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 77,
  'Tokens Generated': 450},
 {'Date': '2023-02-11',
  'Prompt': 'Describe the impact of AI on healthcare',
  'Response Time (ms)': 99,
  'Tokens Generated': 437},
 {'Date': '2023-02-12',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 41,
  'Tokens Generated': 499},
 {'Date': '2023-02-13',
  'Prompt': 'Describe the impact of AI on healthcare',
  'Response Time (ms)': 92,
  'Tokens Generated': 362},
 {'Date': '2023-02-14',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 52,
  'Tokens Generated': 300},
 {'Date': '2023-02-15',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 72,
  'Tokens Generated': 385},
 {'Date': '2023-02-16',
  'Prompt': 'Describe the impact of AI on healthcare',
  'Response Time (ms)': 73,
  'Tokens Generated': 302},
 {'Date': '2023-02-17',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 44,
  'Tokens Generated': 204},
 {'Date': '2023-02-18',
  'Prompt': 'Summarize the latest research on climate change',
  'Response Time (ms)': 77,
  'Tokens Generated': 236},
 {'Date': '2023-02-19',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 46,
  'Tokens Generated': 318},
 {'Date': '2023-02-20',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 81,
  'Tokens Generated': 368},
 {'Date': '2023-02-21',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 49,
  'Tokens Generated': 408},
 {'Date': '2023-02-22',
  'Prompt': 'Describe the impact of AI on healthcare',
  'Response Time (ms)': 90,
  'Tokens Generated': 416},
 {'Date': '2023-02-23',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 74,
  'Tokens Generated': 318},
 {'Date': '2023-02-24',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 54,
  'Tokens Generated': 372},
 {'Date': '2023-02-25',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 86,
  'Tokens Generated': 461},
 {'Date': '2023-02-26',
  'Prompt': 'Summarize the latest research on climate change',
  'Response Time (ms)': 86,
  'Tokens Generated': 500},
 {'Date': '2023-02-27',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 85,
  'Tokens Generated': 203},
 {'Date': '2023-02-28',
  'Prompt': 'Create a recipe using plant-based ingredients',
  'Response Time (ms)': 86,
  'Tokens Generated': 276},
 {'Date': '2023-03-01',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 90,
  'Tokens Generated': 223},
 {'Date': '2023-03-02',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 87,
  'Tokens Generated': 209},
 {'Date': '2023-03-03',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 30,
  'Tokens Generated': 427},
 {'Date': '2023-03-04',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 42,
  'Tokens Generated': 219},
 {'Date': '2023-03-05',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 48,
  'Tokens Generated': 486},
 {'Date': '2023-03-06',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 51,
  'Tokens Generated': 269},
 {'Date': '2023-03-07',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 38,
  'Tokens Generated': 342},
 {'Date': '2023-03-08',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 70,
  'Tokens Generated': 379},
 {'Date': '2023-03-09',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 83,
  'Tokens Generated': 300},
 {'Date': '2023-03-10',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 59,
  'Tokens Generated': 316},
 {'Date': '2023-03-11',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 88,
  'Tokens Generated': 377},
 {'Date': '2023-03-12',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 80,
  'Tokens Generated': 450},
 {'Date': '2023-03-13',
  'Prompt': 'Write a sci-fi short story set in 2050',
  'Response Time (ms)': 82,
  'Tokens Generated': 428},
 {'Date': '2023-03-14',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 74,
  'Tokens Generated': 438},
 {'Date': '2023-03-15',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 91,
  'Tokens Generated': 293},
 {'Date': '2023-03-16',
  'Prompt': 'Create a recipe using plant-based ingredients',
  'Response Time (ms)': 37,
  'Tokens Generated': 445},
 {'Date': '2023-03-17',
  'Prompt': 'Describe the impact of AI on healthcare',
  'Response Time (ms)': 83,
  'Tokens Generated': 208},
 {'Date': '2023-03-18',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 91,
  'Tokens Generated': 329},
 {'Date': '2023-03-19',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 42,
  'Tokens Generated': 318},
 {'Date': '2023-03-20',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 94,
  'Tokens Generated': 286},
 {'Date': '2023-03-21',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 61,
  'Tokens Generated': 401},
 {'Date': '2023-03-22',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 90,
  'Tokens Generated': 226},
 {'Date': '2023-03-23',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 37,
  'Tokens Generated': 453},
 {'Date': '2023-03-24',
  'Prompt': 'Create a recipe using plant-based ingredients',
  'Response Time (ms)': 88,
  'Tokens Generated': 206},
 {'Date': '2023-03-25',
  'Prompt': 'Summarize the latest research on climate change',
  'Response Time (ms)': 70,
  'Tokens Generated': 361},
 {'Date': '2023-03-26',
  'Prompt': 'Write a sci-fi short story set in 2050',
  'Response Time (ms)': 89,
  'Tokens Generated': 255},
 {'Date': '2023-03-27',
  'Prompt': 'Outline the ethical considerations of AI',
  'Response Time (ms)': 79,
  'Tokens Generated': 276},
 {'Date': '2023-03-28',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 57,
  'Tokens Generated': 313},
 {'Date': '2023-03-29',
  'Prompt': 'Create a recipe using plant-based ingredients',
  'Response Time (ms)': 43,
  'Tokens Generated': 400},
 {'Date': '2023-03-30',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 51,
  'Tokens Generated': 461},
 {'Date': '2023-03-31',
  'Prompt': 'Explain blockchain for beginners',
  'Response Time (ms)': 78,
  'Tokens Generated': 490},
 {'Date': '2023-04-01',
  'Prompt': 'Generate a creative story about space travel',
  'Response Time (ms)': 71,
  'Tokens Generated': 482},
 {'Date': '2023-04-02',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 69,
  'Tokens Generated': 462},
 {'Date': '2023-04-03',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 83,
  'Tokens Generated': 421},
 {'Date': '2023-04-04',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 97,
  'Tokens Generated': 325},
 {'Date': '2023-04-05',
  'Prompt': 'Summarize the latest research on climate change',
  'Response Time (ms)': 41,
  'Tokens Generated': 500},
 {'Date': '2023-04-06',
  'Prompt': 'Explain quantum computing in simple terms',
  'Response Time (ms)': 61,
  'Tokens Generated': 304},
 {'Date': '2023-04-07',
  'Prompt': 'Write a sci-fi short story set in 2050',
  'Response Time (ms)': 57,
  'Tokens Generated': 238},
 {'Date': '2023-04-08',
  'Prompt': 'Write a poem about the future of technology',
  'Response Time (ms)': 38,
  'Tokens Generated': 465},
 {'Date': '2023-04-09',
  'Prompt': 'Generate marketing copy for a new tech product',
  'Response Time (ms)': 77,
  'Tokens Generated': 296},
 {'Date': '2023-04-10',
  'Prompt': 'Create a recipe using plant-based ingredients',
  'Response Time (ms)': 55,
  'Tokens Generated': 306}]

In [20]:
with open('chat_data.yaml', 'w') as file:
    yaml.dump(data_dict, file)
    print('Data exported to chat_data.yaml!')

Data exported to chat_data.yaml!